*{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

:root{
    /* primary */
    --clr-primary-dark-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);

    /* neutral */
    --clr-neutral-dark-blue: hsl(212, 21%, 14%);
    --clr-neutral-dark-grayish: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    /* font weights */
    --m-700: 700;
    --m-500: 500;
    --f-700: 700;
}

body{
    background: var(--clr-primary-cream);
    font-size: 14px;
}

/* main{
    width: 50%;
    margin: 0 auto;
} */

.container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 22vh;
}

.container img{
    width: 300px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.img-mobile{
    display: none;
}

.product-description{
    width: 300px;
    background: var(--clr-neutral-white);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.desc-text{
    padding: 2rem;
}

.desc-text h4{
    font-size: 14px;
    font-weight: var(--m-500);
    letter-spacing: 3px;
    color: var(--clr-neutral-dark-grayish);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.desc-text h2{
    width: 80%;
    font-size: 30px;
    font-weight: var(--f-700);
    font-family: 'Fraunces', serif;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.desc-text p{
    width: 100%;
    font-size: 14px;
    font-weight: var(--m-500);
    line-height: 22px;
    color: var(--clr-neutral-dark-grayish);
}

.pricing{
    margin: 2rem 0;
}

.pricing p{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: var(--f-700);
    color: var(--clr-primary-dark-cyan);
    font-family: 'Fraunces', serif;
}

.pricing p span{
    font-size: 14px;
    font-weight: var(--m-500);
    color: var(--clr-neutral-dark-grayish);
    text-decoration: line-through;
    margin-left: 20px;
}

.product-description a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--clr-neutral-white);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--clr-primary-dark-cyan);
}

.product-description a:hover{
    background: hsl(158, 36%, 17%);
}

.product-description a img{
    width: 16px;
    margin-right: 10px;
}

.attribution{
    text-align: center;
    margin-top: 2rem;
}

.attribution a{
    text-decoration: none;
}


/* mediaquerry for mobile less than 700px */

@media screen and (max-width:700px){
    /* main{
        max-width: 100%;
        margin: 0 auto;

    } */

    .container{
        display: block;
        width: 100%;
        margin: 0;
    }

    .container img{
        display: none;
        border-radius: 0;
    }
    
    .container .img-mobile{
        display: block;
        width: 90%;
        margin: 2rem auto 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .product-description{
        width: 90%;
        margin: 0 auto;
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .desc-text h2{
        width: 100%;
        font-size: 30px;
        font-weight: var(--f-700);
        font-family: 'Fraunces', serif;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .attribution{
        margin-bottom: 4rem;
    }

    

}



