@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* root */
:root {
    --clr-primary-Dark-cyan: #3c8067;
    --clr-primary-Cream: #f2ebe3;
    
    --clr-neutral-dark-blue: #1c232b;
    --clr-neutral-Dark-grayish-blue: #6c7289;
    --clr-neutral-White: #ffffff;

    --ff-headings: "Fraunces", serif; 
    --ff-body: "Montserrat", sans-serif; 
    --fw-500: 500;
    --fw-700: 700;
    --fs-heading: 2rem;
    --fs-body: 0.875rem;
}


/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-500);
    color: var(--clr-neutral-Dark-grayish-blue);
    background: var(--clr-primary-Cream);
}

/* helper classes */
.flex {
    display: flex;
    align-items: center;
}


/* typography */
.title {
    font-size: var(--fs-body);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sub-title, .price-amount {
    font-family: var(--ff-headings);
    font-size: var(--fs-heading);
    font-weight: var(--fw-700);
}

.sub-title {
    color: var(--clr-neutral-dark-blue);
}

.price-amount {
    color: var(--clr-primary-Dark-cyan);
}

.previous-amount {
    text-decoration: line-through;
    margin: 0 !important;
}


/* components */
.purchase-button {
    justify-content: center;
    width: 100%;
    gap: .5rem;
    border-radius: .4rem;
    color: var(--clr-neutral-White);
    padding: .8rem;
    border: none;
    background: var(--clr-primary-Dark-cyan);
}


/* layout */
.pricing {
    gap: 1.2rem;
}

.container {
    justify-content: center;
    height: 100dvh;
}

.card-container {
    width: 41em;
    background: var(--clr-neutral-White);
    border-radius: .6rem;
}

.card-container > * {
    flex-basis: 100%;
}


/* general styles */
.mobile-img {
    display: none;
}

.perfume-img {
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.card-description {
    padding: 2rem;
}

.card-description  * + * {
    margin-top: 1rem;
}


/* media query */
@media screen and (max-width: 575px) {
    .perfume-img {
        display: none;
    }

    .mobile-img {
        display: block;
        border-radius: 0;
        border-top-left-radius: .6rem;
        border-top-right-radius: .6rem;
    }

    .container {
        padding: 1rem;
    }

    .card-container {
        flex-direction: column;
    }
}